<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <title>Projects Apps</title>
  </head>
  <body>
<div align="middle" >
    <h1>MY PROJECTS</h1>
</div>
    <a href="/logout">Logout</a>
    <div class align="middle">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">My Form</button>
      </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
          <p>
              <table id="myTable"class="table">
  <thead>

    <tr>
      <th scope="col">ID</th>
      <th scope="col">TITLE</th>
      <th scope="col">TYPE</th>
      <th scope="col">START DATE</th>
      <th scope="col">END DATE</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">AMOUNT</th>
      <th scope="col">STATUS</th>
      <th scope="col">UPDATE</th>
      <th scope="col">DELETE</th>
    </tr>

  </thead>

  <tbody>
  {% for projects in projectsHtml %}
    <tr>
      <th scope="row">{{ projects.id }}</th>
      <td>{{ projects.title }}</td>
      <td>{{ projects.type }}</td>
      <td>{{ projects.start_date }}</td>
      <td>{{ projects.end_date }}</td>
      <td>{{ projects.description }}</td>
      <td>{{ projects.amount }}</td>
      <td>{{ projects.status }}</td>
      <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{projects.id}}">Update</button></td>
      <td><a href="/delete/{{projects.id}}" class="btn btn-danger">Delete</a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>
        </div>


      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fill The Form Below</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

       <form method="post" action="/save">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="titleform">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Type</label>
    <select class="form-control" id="exampleFormControlSelect1" name="typeform">
      <option>Internal</option>
      <option>External</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Start Date</label>
    <input type="date" class="form-control" name="startdateform">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">End Date</label>
    <input type="date" class="form-control" name="enddateform">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Amount</label>
    <input type="number" class="form-control" name="amountform">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descriptionform"></textarea>
  </div>
          <div class="form-group">
    <label>Status</label>
    <select class="form-control" name="statusform">
      <option> 1</option>
      <option> 2</option>
      <option> 3</option>
    </select>
  </div>
  <div class="=form-group">
      <button class="btn btn-success">Save Project</button>
  </div>

</form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>
    <script type="text/javascript">
      $(document).ready( function () {
    $('#myTable').DataTable();
} );
    </script>
  </body>
<div class="row">
  <div class="col-lg-12 ">
    <h2> MY FIRST CHART</h2>
     <div align="left">
			<embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
	  </div>
    <h2> MY SECOND CHART</h2>
     <div align="left">
			<embed type="image/svg+xml" src={{pie_data|safe}} style='max-width:1000px'/>
	  </div>
  </div>
</div>
  {% for projects in projectsHtml %}
<!-- Modal -->
<div class="modal fade" id="exampleModal{{projects.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{projects.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="post" action="/update/{{projects.id}}">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text"  class="form-control" value="{{projects.title}}" name="titleform">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Type</label>
    <select class="form-control" value="{{projects.type}}" name="typeform">
      <option {% if projects.type =='Internal'%} selected {%endif%}>Internal</option>
      <option {% if projects.type =='External'%} selected {%endif%}>External</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Start Date</label>
    <input type="date" class="form-control" value="{{projects.start_date}}" name="startdateform">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">End Date</label>
    <input type="date" class="form-control" value="{{projects.end_date}}" name="enddateform">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Amount</label>
    <input type="number" class="form-control" value="{{projects.amount}}" name="amountform">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control"rows="3" name="descriptionform">{{projects.description}}</textarea>
  </div>
          <div class="form-group">
    <label>Status</label>
    <select class="form-control" name="statusform" value="{{projects.status}}">
      <option {% if projects.status == 1%} selected {%endif%}>Ongoing</option>
      <option {% if projects.status == 2%} selected {%endif%}>Complete</option>
      <option {% if projects.status == 3%} selected {%endif%}>Incomplete</option>
    </select>
  </div>
  <div class="=form-group">
      <button class="btn btn-success">Update Project</button>
  </div>
</form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
  {% endfor %}
</html>