   <!--<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">-->
          <!--<h1>My Form</h1>-->
            <!--<form method="post" action="/save">-->
  <!--<div class="form-group">-->
    <!--<label for="exampleFormControlInput1">Title</label>-->
    <!--<input type="text" class="form-control" id="exampleFormControlInput1" name="titleform">-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="exampleFormControlSelect1">Type</label>-->
    <!--<select class="form-control" id="exampleFormControlSelect1" name="typeform">-->
      <!--<option>Internal</option>-->
      <!--<option>External</option>-->
    <!--</select>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="exampleFormControlInput1">Start Date</label>-->
    <!--<input type="date" class="form-control" name="startdateform">-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="exampleFormControlInput1">End Date</label>-->
    <!--<input type="date" class="form-control" name="enddateform">-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="exampleFormControlInput1">Amount</label>-->
    <!--<input type="number" class="form-control" name="amountform">-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="exampleFormControlTextarea1">Description</label>-->
    <!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descriptionform"></textarea>-->
  <!--</div>-->
          <!--<div class="form-group">-->
    <!--<label>Status</label>-->
    <!--<select class="form-control" name="statusform">-->
      <!--<option> 1</option>-->
      <!--<option> 2</option>-->
      <!--<option> 3</option>-->
    <!--</select>-->
  <!--</div>-->
  <!--<div class="=form-group">-->
      <!--<button class="btn btn-success">Save Project</button>-->
  <!--</div>-->

<!--</form>-->
        <!--</div>-->

<div class="modal fade" id="exampleModal{{projects.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fill The Form Below</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

       <form method="post" action="/save">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="titleform">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Type</label>
    <select class="form-control" id="exampleFormControlSelect1" name="typeform">
      <option>Internal</option>
      <option>External</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Start Date</label>
    <input type="date" class="form-control" name="startdateform">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">End Date</label>
    <input type="date" class="form-control" name="enddateform">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Amount</label>
    <input type="number" class="form-control" name="amountform">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descriptionform"></textarea>
  </div>
          <div class="form-group">
    <label>Status</label>
    <select class="form-control" name="statusform">
      <option> 1</option>
      <option> 2</option>
      <option> 3</option>
    </select>
  </div>
  <div class="=form-group">
      <button class="btn btn-success">Save Project</button>
  </div>

</form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

